@import 'src/sass/colors';
@import 'src/sass/keyframes';
@import 'src/sass/utils';
.top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 3vh;
}

.box-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 130px;
    gap: 25px;
    @media screen and (max-width: 950px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.not-found {
    margin-top: 15vh;
    h3 {
        text-transform: none;
        margin-bottom: 5px;
    }
    span {
        font-size: .9rem;
        color: $text-primary;
    }
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    img {
        margin-top: 50px;
        display: block;
        pointer-events: none;
        width: 50px;
        animation: rotate 4s ease infinite;
    }
}