<app-navbar (itemClicked)="handleAction($event)" [selectedPage]="'list'"></app-navbar>
<div [@zoomIn]>
    <div class="top">
        <div class="heading">
            <h3>
                <span>Your Notes</span>
            </h3>
            <div class="small">
                Select one to open it in the editor.
            </div>
        </div>
    </div>

    <div *ngIf="!displayEmpty">
        <div class=" box-main ">
            <app-note-card [@zoomOut] (deleteClicked)="onDeleteClicked($event) " [routerLink]="[note.id] " routerLinkActive="router-link-active " *ngFor="let note of notes " [note]="note "></app-note-card>
        </div>
    </div>
    <div [@slideUp] *ngIf="displayEmpty">
        <div class="not-found ">
            <h3>Uh oh - It looks a bit empty here</h3>
            <span>Use the navbar above to add a new note.</span>
            <img src="assets/images/not-found.svg " alt="Floating robot">
        </div>
    </div>
</div>