body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}