@import 'colors';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@include reset();
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: $bg-primary;
    color: $text-primary;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: 400;
    color: $text-secondary;
    text-transform: uppercase;
}

a {
    color: $link;
    &:hover {
        color: lighten($color: $link, $amount: 10);
    }
    text-decoration: none;
}