<app-navbar (itemClicked)="handleAction($event)" [selectedPage]="'editor'"></app-navbar>
<div [@zoomIn]>
    <div class="top">
        <div class="heading">
            <h3>{{note.name}}</h3>
            <span class="small">{{note.lastEdited | euroDate}} </span>
            <span class="small">| {{note.content | textStats}}</span>
        </div>
        <div></div>
        <div class="color-picker">
            <div (click)="note.color = 1" class="color bg-color-1"></div>
            <div (click)="note.color = 2" class="color bg-color-2"></div>
            <div (click)="note.color = 3" class="color bg-color-3"></div>
        </div>
    </div>

    <div class="editor">
        <div [ngClass]="{'bg-color-1': note.color == 1, 'bg-color-2': note.color == 2,'bg-color-3': note.color == 3}" class="color-banner"></div>
        <textarea [(ngModel)]="note.content" spellcheck="false" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{note.content}}</textarea>
    </div>
</div>